
.config/lazygit/state.yml
.config/dconf
.config/evolution/sources
.config/gtk-3.0
.config/ibus/bus
.config/nautilus
.config/pulse
.config/memos.json
.config/user-dirs.dirs
.config/user-dirs.locale
.vim/swapfiles
.config/coc/commands
.config/coc/list-marketplace-history.json