[submodule ".vim/pack/plugins-package/opt/coc.nvim"]
	path = .vim/pack/plugins-package/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/plugins-package/opt/iceberg.vim"]
	path = .vim/pack/plugins-package/opt/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule ".vim/pack/plugins-package/opt/nerdtree"]
	path = .vim/pack/plugins-package/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins-package/opt/ultisnips"]
	path = .vim/pack/plugins-package/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/plugins-package/opt/vim-snippets"]
	path = .vim/pack/plugins-package/opt/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/plugins-package/opt/vim-airline"]
	path = .vim/pack/plugins-package/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins-package/opt/vim-table-mode"]
	path = .vim/pack/plugins-package/opt/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".vim/pack/plugins-package/opt/vim-pandoc"]
	path = .vim/pack/plugins-package/opt/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/pack/plugins-package/opt/ale"]
	path = .vim/pack/plugins-package/opt/ale
	url = https://github.com/dense-analysis/ale
[submodule ".tmux/plugins/tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule ".vim/pack/plugins-package/opt/leap.nvim"]
	path = .vim/pack/plugins-package/opt/leap.nvim
	url = https://github.com/ggandor/leap.nvim
[submodule ".vim/pack/plugins-package/opt/vim-ingo-library"]
	path = .vim/pack/plugins-package/opt/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule ".vim/pack/plugins-package/opt/vim-mark"]
	path = .vim/pack/plugins-package/opt/vim-mark
	url = https://github.com/inkarkat/vim-mark
[submodule ".vim/pack/plugins-package/opt/auto-pairs"]
	path = .vim/pack/plugins-package/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/pack/plugins-package/opt/telescope.nvim"]
	path = .vim/pack/plugins-package/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".vim/pack/plugins-package/opt/plenary.nvim"]
	path = .vim/pack/plugins-package/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".vim/pack/plugins-package/opt/nvim-treesitter"]
	path = .vim/pack/plugins-package/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".vim/pack/plugins-package/opt/cmp-nvim-lsp"]
	path = .vim/pack/plugins-package/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule ".vim/pack/plugins-package/opt/nvim-cmp"]
	path = .vim/pack/plugins-package/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule ".vim/pack/plugins-package/opt/obsidian.nvim"]
	path = .vim/pack/plugins-package/opt/obsidian.nvim
	url = https://github.com/epwalsh/obsidian.nvim.git
[submodule ".vim/pack/plugins-package/opt/cmp-buffer"]
	path = .vim/pack/plugins-package/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule ".vim/pack/plugins-package/opt/cmp-path"]
	path = .vim/pack/plugins-package/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule ".vim/pack/plugins-package/opt/cmp-cmdline"]
	path = .vim/pack/plugins-package/opt/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule ".vim/pack/plugins-package/opt/nvim-lspconfig"]
	path = .vim/pack/plugins-package/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
