[https]
	proxy = http://192.168.36.1:8887
[http]
	proxy = http://192.168.36.1:8887
[init]
	defaultBranch = main
[user]
	email = xinyuloveswork@163.com
	name = shawshary
[core]
	quotepath = false
[commit]
	template = /home/shawshary/.dotfiles/.gitmessage
